<form [formGroup]="form" (ngSubmit)="createGroup()">

  <mat-toolbar>Your Contacts
    <span class="spacer"></span>
  <button mat-raised-button   color="primary" type="submit">Create Group </button>
</mat-toolbar>

<mat-list *ngIf="contacts">
    <mat-list-item formArrayName="contacts" *ngFor="let contact of form.controls.contacts.controls; let i = index" style="width:100%">

      <mat-checkbox [formControlName]='i' style="padding-right: 40px;" color="primary" >{{contacts[i].contact}}</mat-checkbox>

      <mat-icon aria-hidden="false" aria-label="icon" style="cursor: pointer;" (click)="startChat(contacts[i].contact,contacts[i].room)">chat</mat-icon>
      <span class="spacer"></span>
      <mat-icon aria-hidden="false" aria-label="icon" style="cursor: pointer;" (click)="deleteContact(contacts[i].contact, i)">delete</mat-icon>
    
    </mat-list-item>
</mat-list>
<mat-toolbar *ngIf="!contacts">It is lonely here.</mat-toolbar>
