<mat-toolbar color="primary" >
        <span class="center" >Login</span>
</mat-toolbar>

     <mat-card class="my-card card-center" [ngStyle]="{'margin-top': '30px'}">
                <form class="my-form" [formGroup]="form" (ngSubmit)="onSubmit()">   
        <mat-card-content>
                         <table class="example-full-width" cellspacing="0" class="center">
                                <!-- <tr>
                                        <td>
                                          <mat-form-field class="example-full-width">
                                          </mat-form-field>
                                        </td>
                                      </tr> -->
                                <tr>
                                  <td><input matInput placeholder="" formControlName="countryCode"
                                        type="text"  name="countryCode" readonly style="width: 35px;"> 
                                </td>
                                  
                                <td>
                                    <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Enter Mobile" formControlName="mobile"
                                    type="number"  name="mobile" > 
                                    </mat-form-field>
                                  </td>
                                </tr>

                                <tr *ngIf="FLAG_TOKEN">
                                        <td></td>
                                        <td>
                                          <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Enter Token" formControlName="token"
                                          type="text"  name="token" > 
                                          </mat-form-field>
                                        </td>
                                      </tr>
                                <tr>
                                        <tr *ngIf="FLAG_NAME">
                                        <td></td>
                                        <td>
                                          <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Enter Name" formControlName="name"
                                          type="text"  name="name" > 
                                          </mat-form-field>
                                        </td>
                                      </tr>
                                <tr>
                                        <td></td>
                                        <td>
                                                <span #log></span>
                                        </td>
                                </tr>
                            </table>
        </mat-card-content>
        <mat-card-actions class="text-center">
                <button mat-raised-button   color="primary" type="submit">Submit</button>
        </mat-card-actions>
                </form>
     </mat-card>