
     <mat-card class="my-card card-center" [ngStyle]="{'margin-top': '30px'}">
        <form class="my-form" [formGroup]="form" (ngSubmit)="onSubmit()">   
<mat-card-content>
                 <table class="example-full-width" cellspacing="0" class="center">
                                <tr >
                                <td></td>
                                <td>
                                  <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Enter Name" formControlName="name" (keyup) = "update_error()"
                                  type="text"  name="name" > 
                                  </mat-form-field>
                                </td>
                              </tr>
                        <tr>
                                <td></td>
                                <td>
                                        <span #log></span>
                                </td>
                        </tr>
                    </table>
</mat-card-content>
<mat-card-actions class="text-center">
        <button mat-raised-button   color="primary" type="submit">Update</button>
</mat-card-actions>
        </form>
</mat-card>