* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form {
    position: relative;
}
div { background: #000000; padding: 1px; position: static;
    right: 0; top : 0;width: 100%;border: 1px solid black 
}
div input { border: 0; padding: 10px; width: 100%; margin-right: 1px; outline:none;
    border: 1px solid black;background: #ffffff;
    font-size: 15px;
    }
div button { width: calc(10% - 1px); border: none;border-radius: 0; }
#conversation { max-height:calc(100% - 110px) !important; height: calc(100% - 110px); overflow-y:scroll;width: 100%;list-style-type: none; margin: 0; 
    padding-top: 10px;padding-bottom: 5px; background:rgba(63, 81,181,0.2) }
#conversation-list {
    list-style-type: none;
}